@import "fontawesome/font-awesome";

.vote
{
    width: 150px;
    margin: 50px 0;
    float: right;
}

.vote .form
{
      display: inline-block;
}

.vote_bar
{
    width: 100%;
    height: 4px;
    background-color: brown;
}

.vote_progress
{
    width: 50%;
    height: 4px;
    background-color: lawngreen;
}

.vote_btn
{
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    background: transparent;
    transition: 0.3s;

}

.btn_like:hover, .is_liked .vote_btn
{
    color: royalblue;
}

.btn_unlike:hover, .is_unliked .vote_btn
{
    color: red;
}