div#content div
{
	display: inline-block;
}

div#content div h1, p
{
	margin: 50px;
}
div#content div.LeftBox
{
	
}

div#content div.RightBox
{
	vertical-align: top;
}

div#content div.description
{
	background-size: 400px
	width: 100%;
}

nav.menu_nav ul li.btn
{
	background-color: #DC143C;
	display: inline-block;
	list-style-type: none;

}

nav.menu_nav ul li.btn a
{
	color: white;
	text-decoration: none;
	background-color: red;
	padding: 10px;

}

nav.menu_nav ul li.btn:hover a
{
	color: red;
	background-color: white;
	transition: 0.3s all;
}


footer
{
	background-color: black;
}


body
{
	background-color: black;
	margin: 0 auto;
}



.
{
	margin: 0;
	padding: 0;
}



header
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.header
{
	background-color: black;
	background-position: center;
	position: absolute;
	z-index: 800;
	padding: 50px;
	width: 700px;
	transform: translateY(-15px);
}

p.police-en-tete
{
	color: white;
	font-size: 30px;
	font-family: 'Vampiro One', cursive;
	background-position: center;
}

/* slider */

div.slides
{
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 300px;
	animation: glisse 15s infinite ease;
}


.slide
{
	opacity: 0.5;
}

@keyframes glisse
{
	0% {
		transform: translateX(150px);
	}


	15% {
		transform: translateX(-50px);
	}

	33% {
		transform: translateX(-100px);
	}


	66% {
		transform: translateX(150px);
	}

	100%
	{
		transform: translateX(0);
	}
}










/* navigation menu */


a{
	text-decoration: none;
	color: white;
	font-family: 'Concert One', cursive;
}



div.container div.navigation_menu
{
	background-position: center;
	margin-left: 50px;
	width: 1200px;
	z-index: 999;
	transform: translateY(-60px);

}

div.container div.navigation_menu nav.menu ul li
{
	color: white;
	font-family: 'Concert One', cursive;
	margin: 0;
	padding: 0;
	float: right;
	width: 250px;
	height: 40px;
	background-color: red;
	line-height: 40px;
	text-align: center;
	list-style-type: none;
}

 ul li
{
	background-color: red;
	background-size-width: 100px;
	display: inline-block;
	list-style-type: none;
}

div.container div.navigation_menu nav.menu ul li a
{
	display: block;
	width: 250px;
	height: 40px;
	transition: 0.3s all;
}

div.container div.navigation_menu nav.menu ul li a:hover
{
	background-color: black;
	transition: 0.3s all;
}

div.container div.navigation_menu nav.menu ul li ul li
{
	display: none;
}

div.container div.navigation_menu nav.menu ul li:hover ul li
{
	display: block;
}


/* Contenu de la page centrale*/

div.centerBox
{
	transform: translateY(60px);
	background-color: black;
	width: 1300px;
	font-family: 'Concert One', cursive;
	background-position: center;
	background-size: 80%;
	margin-left: 90px;
	line-height: 20px;
}


div.centerBox div.recherche form input
{
	transform: translateY(-90px);
}

div.centerBox div.recherche form input.recherche
{
	margin-left: 400px;
	font-size: 15px;
	width: 300px;
	font-family: 'Vampiro One', cursive;
}


div.centerBox div.recherche form input.btFind
{
	font-size: 15px;
	font-family: 'Vampiro One', cursive;
	background-color: black;
	color: white;
	width: 200px;
	justify-content: center;
}

div.centerBox h1
{
	text-align: center;
}


div.centerBox p
{
	text-align: center;
}

/*Gestion du contenue d'affichage*/

div.centerBox div.listFilm
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	vertical-align: middle;
	transform: translateY(-65px);
}

div.centerBox div.listFilm div.afficheFilm
{
	color: white;
	width: 200px;
	min-height: 300px;
	margin: 10px;
	padding-left: 30px;
	align-items: center;
	text-align: center;
	float:left; 
}

div.centerBox div.listFilm div.afficheFilm img
{
	margin: 5px;
	width: 170px;
	height: 220px;
}



div.centerBox div.Film
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	vertical-align: middle;
	transform: translateY(-65px);
}


div.centerBox div.descriptionFilm
{
	color: white;
	width: 80%;
	height: 400px;
	text-align: center;
}

div.centerBox div.listPersonnage
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	vertical-align: middle;
	transform: translateY(-65px);
}


div.centerBox div.listPersonnage div.affichePersonnage
{
	border: 1px solid #999;
	width: 600px;
	min-height: 300px;
	margin: 40px;
	padding-left: 30px;
	text-align: right;
	float: left;
}


/*Gestion affichage administrateur*/


